
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER */
.barraNav {
    background: #007245;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.barraNav .barraNav_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    color: #fff;
    width: 30rem;
}

.barraNav .barraNav_links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.barraNav .barraNav_links a:hover {
    background-color: #fff;
    color: #005640 !important;
}

.barraNav .logo img {
  height: 7vh;
}

/* About */

.sobre-container {
    background-color: #005640;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.sobre-container h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sobre-container p {
    margin-bottom: 40px;
    text-align: justify;
}

.sobre-container .text-about {
    width: 30%;
}

.sobre-container .img-about {
    margin-top: 35px;
    width: 30%;
    margin-left: 200px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}

/*Carrosel*/

#carouselExampleControls {
    width: 70%;
}

.carousel-div {
    background-color: #005640;
    display: flex;
    justify-content: center;
}

/* Cards */

.list_cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #007245;
    height: 700px;
}

.list_cards .card {
    height: 580px;
    width: 18rem;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.list_cards .card:hover {
    transform: scale(1.05);
}

.list_cards .card .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.list_cards .card .card-body {
    padding: 20px;
}

.list_cards .card .card-body h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #007245;
}

.list_cards .card .card-title {
    color: #333;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.list_cards .card .card-text {
    color: #555;
}

@media only screen and (max-width: 600px) {

    .list_cards .card-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Frete */

.frete-container {
    display: flex;
    justify-content: center;
    background-color: #F3F7BF;
    color: #007245;
    height: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.frete-container .form-frete {
    width: 30%;
    margin-right: 50px;
}

.frete-container .form-frete h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.frete-container .form-frete button {
    background-color: #007245;
}

.frete-container .map-frete {
    width: 50%;
}

.frete-container .map-frete h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.frete-container .map-frete .map{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.respostas-frete {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.respostas-frete .card {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #007245;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.5s ease;
}

.respostas-frete .card:hover {
    transform: scale(1.1);
}

.respostas-frete .card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.respostas-frete .card img {
    width: 100px;
    height: 100px;
    margin-left:28px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}

.respostas-frete .card p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;

}

/* Forms Email*/

.contact-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin-right: 20px;
}

.info-container #name1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #007245;
}

.contact-form-container {
    flex: 1;
    max-width: 400px;
}

.contact-form {
    max-width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.form-label {
    display: block;
    margin: 10px 0;
    color: #333;
}

.form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-textarea {
    height: 100px;
    resize: none;
}

.form-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* Adicionando regras de mídia para telas menores */
@media only screen and (max-width: 600px) {
    .contact-container {
        flex-direction: column;
        /* Empilha em telas menores */
    }

    .info-container,
    .contact-form-container {
        max-width: 100%;
        /* Largura total em telas menores */
        margin-right: 0;
    }
}

/* FOOTER */

.footer-div {
    background-color: #007245;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-div a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}

.footer-div a:hover {
    color: #6dab3c;
    text-decoration: none;
}

.footer-div .credits {
    padding-top: 30px;
    font-size: 13px;
    color: #fff;
}